

.footer {
    background-color: var(--primary-bg-color-footer);
    color: var(--primary-color-footer);
  }
  
  .footer__shape {
    margin-top: auto;
    height: 150px;
    justify-self: end;
    margin-bottom: -0.5rem;
  
  }
  
  .footer__shape svg {
    margin-top: -1px;
    fill: var(--primary-bg-color);
  }
  
  .footer__content {
    padding: 4rem 0;
    color: var(--primary-color-footer);
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
  
  }
  
  .footer__list {
    display: flex;
    gap: 1rem;
  }
  
  .footer__link {
    color: var(--primary-bg-color);
    font-weight: bold;
  
  }
  
  .footer__logo {
    width: 5rem;
  }
  
  .footer__social-media-link {
    color: var(--primary-bg-color);
    font-size: 4rem;
  }
  
  .footer__address {
    margin: 2rem 0;
  }
  
  .footer__contacts,
  .footer__social-media {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
  }
  
  .footer__permissions {}
  
  .footer-permissions-list {
    text-align: center;
  }
  
  .footer-permissions-img {
    filter: grayscale(1);
  }
  
  .light .footer-permissions-img {
    filter: grayscale(0);
  }
  
  .version {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    height: 2rem;
    font-size: 1rem;
    text-align: center;
    border-top: 1px solid #000;
  }
  