/* container */
.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width:57.6rem) {
    .container {
        width: 54rem;
    }

}

@media screen and (min-width:76.8rem) {
    .container {
        width: 72rem;
    }

}

@media screen and (min-width:99.2rem) {
    .container {
        width: 96rem;
    }

}

@media screen and (min-width:120rem) {
    .container {
        width: 114rem;
    }

}

@media screen and (min-width:140rem) {
    .container {
        width: 137rem;
    }

}