@import "./variables.css";
@import "./fonts.css";
@import "./default.css";
@import "./header.css";
@import "./helper-class.css";
@import "./course-box.css";
/* @import "./helper-class.css"; */

.header {
  background-image: linear-gradient(rgba(52, 53, 70, 0.65), rgba(36, 37, 50, 0.1)), url(../images/background-header.jpg);
  background-origin: inherit;
  background-size: cover;
  height: 42rem;
  display: flex;
  flex-direction: column;
}

.header__shape {
  margin-top: auto;
  height: 130px;
  justify-self: end;
  margin-bottom: -0.5rem;

}

.header__shape svg {
  fill: var(--primary-bg-color);
}



.courses-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.courses-header__right {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.courses-header__title {
  font-size: 2rem;
}

.courses-header__text {
  font-size: 1.4rem;
}

.courses-header__link {
  background-color: var(--primary-color);
  padding: 0.8rem 0.5rem;
  border-radius: 1rem;
  transition: all 400ms;
  box-shadow: 1px 1px 1px #000;
}

.courses-header__link:hover {
  color: var(--white-color);
  background-color: aqua;
  box-shadow: 1px 1px 1px var(--white-color);
  color: #000;
}

.courses-header__icon {
  margin-right: 0.5rem;
}



.popular__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.presell__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}


.footer {
  background-color: var(--primary-bg-color-footer);
  color: var(--primary-color-footer);
}

.footer__shape {
  margin-top: auto;
  height: 150px;
  justify-self: end;
  margin-bottom: -0.5rem;

}

.footer__shape svg {
  margin-top: -1px;
  fill: var(--primary-bg-color);
}

.footer__content {
  padding: 4rem 0;
  color: var(--primary-color-footer);
}

.footer-right {
  display: flex;
  flex-direction: column;

}

.footer__list {
  display: flex;
  gap: 1rem;
}

.footer__link {
  color: var(--primary-bg-color);
  font-weight: bold;

}

.footer__logo {
  width: 5rem;
}

.footer__social-media-link {
  color: var(--primary-bg-color);
  font-size: 4rem;
}

.footer__address {
  margin: 2rem 0;
}

.footer__contacts,
.footer__social-media {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.footer__permissions {}

.footer-permissions-list {
  text-align: center;
}

.footer-permissions-img {
  filter: grayscale(1);
}

.light .footer-permissions-img {
  filter: grayscale(0);
}

.version {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  border-top: 1px solid #000;
}

/* Start About Us Styles */

.about-us {
  margin: 6rem 0;
}

.about-us__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-us__subtitle {
  color: #9c9c9c;
  font-size: 1.5rem;
}

.about-us__box {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 2rem 0;
  padding: 2rem 1.5rem;
}

.about-us__icon {
  color: #666;
  font-size: 6.5rem;
}

.about-us__box-left {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.about-us__box-title {
  font-weight: bold;
  font-size: 1.8rem;
}


/* Finish About Us Styles */


/* Start Popular Courses Styles */
.swiper {
  padding: 6rem;
}

.popular,
.presell {
  margin: 5rem 0;
}

.popular__slider .course-box,
.presell__slider .course-box {
  margin: 0 1.3rem;
  box-shadow: 0 0 10px rgba(168, 172, 185, 0.3);
}

.popular__slider .course-box:hover,
.presell__slider .course-box {
  transform: none;
}

.presell__slider,
.popular__slider {
  margin: 4rem 0;
  position: relative;
}

/* Finish Popular Courses Styles */


/* Start Articles Styles */


.articles {
  margin: 4rem 0;

}

.articles-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.articles-header__right {
  display: flex;
  flex-direction: column;
}

.articles-header__text {
  color: #9c9c9c;
  font-size: 1.5rem;
}

.articles-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  transition: all 400ms;
  box-shadow: 1px 1px 1px #000;
}

.articles-header__link:hover {

  color: var(--white-color);
  background-color: aqua;
  box-shadow: 1px 1px 1px var(--white-color);
  color: #000;

}

.articles-header__icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.article-card {
  margin: 3rem 0;
  transition: all 400ms ease;
  border-radius: 1rem;
  box-shadow: 0 5px 30px rgba(70, 72, 77, 0.08);
}

.article-card:hover {
  transform: translateY(-0.6rem);
}

.article-card__link-img {
  display: block;
}

.article-card__img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

.article-card__content {
  padding: 1rem 2rem 3rem 2rem;
}

.article-card__link {
  font-weight: bold;
}

.article-card__text {
  color: #898989;
  font-size: 1.2rem;
  padding: 1rem 0 2.5rem 0;
}

.article-card__btn {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 400ms ease;
}

.article-card__btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

/* Finish Articles Styles */