:root {

    --primary-color: #43c67a;
    --primary-logo-color: #4caf50;
    --text-color: #f1f1f1;
    --text-color-mute:#b9b8b8;
    --primary-bg-color: rgb(36, 37, 50);
    --secondry-bg-color: rgb(63, 65, 95);
    --primary-bg-color-footer: rgb(198, 198, 201);
    --primary-color-footer: rgb(39, 39, 39);
    --primary-font: "IRANSans";
    --secondry-font: "BoldIRANSans";


}


.light {
    --text-color: #030303;
    --text-color-mute:#dadadaec;
    --primary-bg-color: rgb(255, 255, 255);
    --secondry-bg-color: rgb(47, 48, 65);
    --primary-bg-color-footer: rgb(37, 37, 44);
    --primary-color-footer: rgb(224, 221, 221);
}